/* Mixin */
.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.rotate (@deg: 7deg) {
  transform:rotate(@deg);
  -ms-transform:rotate(@deg); /* IE 9 */
  -webkit-transform:rotate(@deg); /* Opera, Chrome, and Safari */
}

.arrow-left (@dim: 80px) {
  width: 0;
  height: 0;
  border-top: @dim solid transparent;
  border-bottom: @dim solid transparent;
  border-right:@dim solid #000000;
}

.wrap () {
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}

html, body, .main, .layout {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Main Content */

.layout {
  display: table;
  background-color: #d3d3d3;
  width: 70%;
  margin: 0 auto;
}

/* Layout 1 */
#select-wrapper {
  table-layout: fixed;
  .tools-item-wrapper {
    display: table-cell;
    cursor: pointer;
    &:hover {
      background-color: #add8e6;
      .rotate();
    }
    &:active {
      background-color: #00d0f4;
    }
    .tools-item-name {
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      font: bold 3em Arial;
      color: #ffffff;
      width: .8em;
      .wrap()
    }
    .tools-item-icon {
      text-align: center;
      margin: 2em 0;
    }
  }
}

.tools-item-image {
  width: 7em;
  height: 7em;
}

/* Layout 2 */
#results-wrapper {
  table-layout: fixed;
  background-color: #000000;
  color: #ffffff;
}

.choice-item {
  display: table-cell;
  cursor: pointer;
  text-align: center;
  color: #d3d3d3;
  &.divider {
    width: 1px;
    border-left: 4px solid #d3d3d3;
    .rotate();
  }
  .result-header {
    margin: 2em 0;
    font: bold 3em Arial;
  }
  .result-icon:extend(.tools-item-icon){
    margin: 5em 0 2em 0;
  }
  .result-name {
    font: italic 2em Arial;
  }
}



/* Layout 3 */
#return-wrapper {
  cursor: pointer;
  padding: 1em;
  .return-message {
    word-wrap: break-word;
    color: #ffffff;
    font: bold 11em Arial;
  }
  .return-alert {
    color: #ffffff;
    position: relative;
    .arrow-left(6em);
    float: right;
    margin-right: 10%;
    .msg {
      position: absolute;
      text-transform: uppercase;
      font: normal 2em Arial;
      top: -.6em;
      left: .7em;
      .rotate(-90deg);
    }
  }
}


/* update content layout for MOBILE screens */

@media (max-width: 992px) {
  .layout {
    width: 90%;
  }

  .tools-item-image {
    width: 6em;
    height: 6em;
  }

}

@media (max-width: 768px) {
  .layout {
    width: 100%;
  }

  .tools-item-image {
    width: 5em;
    height: 5em;
  }

  .choice-item {
    &.divider {
      .rotate(1deg);
    }
    .result-header {
      font: bold 1.5em Arial;
    }
  }

  #return-wrapper {
    .return-message {
      font: bold 6em Arial;
    }
  }
}